:root{
  --ls_lightgrey: #ADADAD;
  --ls_darkgrey: #2D2D2D;
  --ls_lightblue: #4CC2FF;
  --ls_lightblue_rgb: 76, 194, 255;
  --ls_darkblue: #4C69FF;
  
  --ls_highlight_white: #FFFFFF30;

  --ls_text_color: white;

  --ls_anim_duration_fast: 0.1s;
  --ls_anim_duration_short: 0.2s;
  --ls_anim_duration_medium: 0.7s;
  --ls_anim_duration_long: 2s;

  --ls_border_radius_small: 3px;
  --ls_border_radius_medium: 5px;
  --ls_border_radius_large: 7px;
  --ls_border_radius_larger: 12px;

  --ls_indicator_min: 10px;
  --ls_indicator_max: 24px;
  
  --ls_nav_height: 46px;
  --ls_nav_colour: white;

  --site_logo_collapsed_width: calc(var(--ls_nav_height) + 10px);
  --site_logo_expanded_width: calc(var(--ls_nav_height) + 20ch);
}
*{
  box-sizing: border-box;
}
html{
  height: 100%;
  background-color: var(--ls_darkgrey);
  scroll-behavior: smooth;
  scroll-padding-top: var(--ls_nav_height);
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  color: var(--ls_text_color);
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
site_filter{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: white;
  backdrop-filter: contrast(1.5);
  mix-blend-mode: overlay;
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}
footer{
  position: relative;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 100;
  opacity: 0.8;
}
footer a{
  color: var(--ls_text_color);
  text-decoration: none;
  cursor: pointer;
}

/*=============GLOBAL ELEMENTS============*/
background{
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: var(--ls_anim_duration_short) ease all;
}
background_image{
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: var(--ls_anim_duration_short) ease all;
}
h1{
  margin: 0px;
  font-size: 34px;
  font-weight: 100;
}
h2{
  margin: 0px;
  font-size: 24px;
  font-weight: 100;
}
h3{
  margin: 0px;
  font-size: 20px;
}
p{
  margin: 6px 0px 6px 0px;
}
a{
  color: var(--ls_text_color);
}
info{
  color: goldenrod;
  font-size: 0.9em;
  font-weight: 100;
  font-style: italic;
}
button{
  color: white;
  font-family: inherit;
  cursor: pointer;
}
input{
  width: 300px;
  max-width: 300px;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  border: 1px solid var(--ls_lightgrey);
  border-radius: var(--ls_border_radius_medium);
  transition: var(--ls_anim_duration_short) ease all;
}
input[type=text]{
  color: var(--ls_text_color);
  text-shadow: 1px 1px 1px black;
  background: none;
  box-shadow: 0px 0px 3px black inset;
}
input[type=text]::placeholder{
  color: var(--ls_lightgrey);
  text-shadow: none;
}
input[type=text]:focus{
  border-color: white;
  outline: none;
}
input[type=submit]{
  color: var(--ls_text_color);
  border: 1px solid var(--ls_lightgrey);
  background: none;
  cursor: pointer;
}
input[type=submit]:hover{
  color: var(--ls_text_color);
  border: 1px solid white;
  background: var(--ls_highlight_white);
}


/*=================GENERAL================*/
nav{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: var(--ls_nav_height);
  min-height: var(--ls_nav_height);
  max-height: var(--ls_nav_height);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px black;
  user-select: none;
}
nav background{
  background-color: var(--ls_darkgrey);
  opacity: 0.5;
}
site_logo{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: var(--site_logo_collapsed_width);
  height: var(--ls_nav_height);
  margin-right: 10px;
  color: white;
  font-size: 32px;
  font-weight: 100;
  transition: var(--ls_anim_duration_short) ease all;
  overflow: hidden;
  user-select: none;
}
site_logo:hover{
  width: var(--site_logo_expanded_width);
}
site_logo a{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: var(--ls_anim_duration_short) ease all;
  overflow: hidden;
  user-select: none;
}
site_logo img, site_logo site_logo_image{
  position: relative;
  width: calc(var(--ls_nav_height) - 6px);
  min-width: calc(var(--ls_nav_height) - 6px);
  max-width: calc(var(--ls_nav_height) - 6px);
  height: calc(var(--ls_nav_height) - 6px);
  min-height: calc(var(--ls_nav_height) - 6px);
  max-height: calc(var(--ls_nav_height) - 6px);
  margin-left: 5px;
  transition: var(--ls_anim_duration_fast) ease all;
}
site_logo .lightshard_logo{
  display: block;
  background-color: var(--ls_lightblue);
  background: linear-gradient(138deg, #FFFFFF 0%, var(--ls_lightblue) 50%, var(--ls_lightblue) 53%, #FFFFFF 50%, #FFFFFF 100%);
  clip-path: polygon(40% 0%, 100% 10%, 100% 24%, 0% 100%);
}
site_logo p{
  display: flex;
  margin-top: -2px;
  margin-left: 10px;
  opacity: 0;
  transition: var(--ls_anim_duration_short) ease all;
}
site_logo:hover p{
  opacity: 1;
}
navlinks{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
navlinks a{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0px 10px 0px 10px;
  padding: 2px;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  cursor: pointer;
  transition: var(--ls_anim_duration_short) ease opacity;
}
navlinks a p{
  margin: 0px 0px 3px 0px;
  pointer-events: none;
}
navlinks a::after{
  content: "";
  display: block;
  width: var(--ls_indicator_min);
  height: 3px;
  background-color: #757575;
  border-radius: 2px;
  transition: 0.12s ease all;
  pointer-events: none;
}
navlinks a:hover{
  opacity: 1;
}
navlinks a:hover::after{
  background-color: var(--ls_lightgrey);
}
navlinks .active{
  opacity: 1;
}
navlinks .active::after{
  width: var(--ls_indicator_max);
  background-color: var(--ls_lightblue);
}
navlinks .active:hover::after{
  background-color: var(--ls_lightblue);
}

landing{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  overflow: hidden;
  user-select: none;
}
landing_inner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
landing_inner::after{
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(0deg, #000000FF -350%, #00000000 100%);
}
landing_background{
  position: absolute;
  z-index: -1;
  display: flex;
  width: 100%;
  height: 100%;
}
landing_background img{
  display: flex;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
landing_image{
  position: relative;
}
landing_title{
  position: relative;
  margin: -60px 0px 0px 0px;
  font-size: 40px;
  font-weight: 400;
}
landing_subtitle{
  position: relative;
  margin: 10px 0px 0px 0px;
  color: white;
  font-size: 18px;
  font-weight: 100;
}
landing_subtitle::before{
  content: "";
  position: absolute;
  top: -3px;
  left: calc(50% - 20px);
  display: block;
  width: 40px;
  height: 1px;
  background-color: white;
}
.landing_down_arrow{
  position: absolute;
  z-index: 1;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  min-width: 34px;
  max-width: 34px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
}
.landing_down_arrow::after{
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--ls_text_color);
  border-radius: 20%;
  clip-path: polygon(80% 0%, 100% 0%, 100% 20%, 20% 100%, 0% 100%, 0% 80%);
  transform: rotate(45deg);
  transition: var(--ls_anim_duration_fast) linear transform;
}
.landing_down_arrow:hover::after{
  /* clip-path: polygon(50% 50%, 100% 0%, 100% 100%, 0% 100%); Alternate arrow */
  clip-path: polygon(70% 70%, 70% 8%, 100% 0%, 100% 100%, 0% 100%, 8% 70%);
  transform: translateY(6px) rotate(45deg);
}
.landing_down_arrow img{
  display: block;
  width: 100%;
  user-select: none;
  pointer-events: none;
  transition: 0.1s ease transform;
}
.landing_down_arrow:hover img{
  transform: translateY(5px);
}

main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: calc(var(--ls_nav_height) + 5px) 10px 15px 10px;
}
horizontal{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
vertical{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

content_left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
content_right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
content_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

left_block{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 3px;
  padding: 15px 0px 15px 10px;
  border: 1px solid var(--ls_lightgrey);
  border-radius: var(--ls_border_radius_medium);
  overflow: hidden;
}
left_block background{
  background-color: var(--ls_darkgrey);
  opacity: 0.5;
}
left_block_inner{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  overflow: auto;
}
center_block{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3px;
  padding: 15px 0px 15px 10px;
  border: 1px solid var(--ls_lightgrey);
  border-radius: var(--ls_border_radius_medium);
  transition: var(--ls_anim_duration_short) ease width;
  overflow: hidden;
}
center_block background{
  background-color: var(--ls_darkgrey);
  opacity: 0.5;
}
center_block_inner{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  overflow: auto;
}
right_block{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 3px;
  padding: 15px 0px 15px 10px;
  border: 1px solid var(--ls_lightgrey);
  border-radius: var(--ls_border_radius_medium);
  overflow: hidden;
}
right_block background{
  background-color: var(--ls_darkgrey);
  opacity: 0.5;
}
right_block_inner{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  overflow: auto;
}
section{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 40px 0px;
}
section_inner{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  /* border-left: 1px solid var(--ls_lightgrey); */
}

article{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin-top: calc(0px - var(--ls_nav_height) - 5px);
  border-radius: 0px 0px var(--ls_border_radius_large) var(--ls_border_radius_large);
}
article background_image{
  position: fixed;
  filter: blur(10px);
}
article_inner{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  padding: calc(var(--ls_nav_height) + 5px) 15px 50px 15px;
  margin-bottom: 100px;
  background-color: var(--ls_darkgrey);
  border-radius: 0px 0px var(--ls_border_radius_large) var(--ls_border_radius_large);
}
article_inner article_image{
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

tag_list{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  margin: 0px 0px 10px 0px;
  overflow-x: auto;
  overflow-y: hidden;
}
tag_list tag{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  margin: 0px 5px 0px 0px;
  padding: 0px 7px 3px 7px;
  font-size: 10px;
  background-color: var(--ls_darkblue);
  border-radius: 8px;
}

card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  min-width: 280px;
  height: 280px;
  min-height: 280px;
  border: 1px solid black;
  border-radius: var(--ls_border_radius_larger);
  overflow: hidden;
  transition: var(--ls_anim_duration_short) ease all;
}
card:hover{
  box-shadow: 0px 5px 10px -6px var(--ls_lightblue);
  transform: translateY(-5px);
}
card img{
  position: absolute;
  z-index: 0;
  top: 0px;
  max-height: 150px;
}
card_inner{
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-width: 100%;
  height: 60%;
  min-height: 60%;
  padding: 7px 15px 15px 15px;
  background-color: #202020;
  box-shadow: 0px 0px 3px black;
  overflow: hidden;
}
card_inner h3{
  font-size: 22px;
}
card_inner p{
  font-size: 14px;
}

grid_medium{
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 30px;
}
grid_medium card{
  width: 280px;
  min-width: 280px;
  height: 280px;
  min-height: 280px;
}


.external_link{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 30px;
  min-height: 30px;
  padding: 3px;
  background: none;
  border: 1px solid var(--ls_lightgrey);
  border-radius: var(--ls_border_radius_large);
  transition: var(--ls_anim_duration_short) ease all;
}
.external_link:hover{
  border: 1px solid white;
}
.external_link img{
  margin: 0px 6px 0px 0px;
  pointer-events: none;
}
.external_link p{
  margin: -2px 0px 0px 0px;
  font-weight: bold;
  pointer-events: none;
}
.external_link span{
  width: 0px;
  max-width: 0px;
  height: 0px;
  max-height: 0px;
  margin: -20px 14px 0px 22px;
  background-color: white;
  transition: var(--ls_anim_duration_short) ease all;
  pointer-events: none;
}
.external_link:hover span{
  background-color: var(--ls_lightblue);
  transform: translateX(6px);
}
.external_link span::before{
  content: "";
  display: block;
  width: 3px;
  height: 10px;
  background-color: inherit;
  border-radius: 2px;
  transform-origin: 50% 100%;
  transform: translateY(1px) rotate(-35deg);
}
.external_link span::after{
  content: "";
  display: block;
  width: 3px;
  height: 10px;
  background-color: inherit;
  border-radius: 2px;
  transform-origin: 50% 0%;
  transform: translateY(-1px) rotate(35deg);
}


.internal_link{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 30px;
  min-height: 30px;
  margin: 3px 0px 5px 0px;
  padding: 3px;
  background: none;
  border: 1px solid var(--ls_lightgrey);
  border-radius: var(--ls_border_radius_large);
  transition: var(--ls_anim_duration_short) ease all;
}
.internal_link:hover{
  border: 1px solid white;
}
.large_internal_link{
  height: 50px;
  min-height: 50px;
}
.internal_link img{
  display: block;
  width: 24px;
  height: 24px;
  margin: 0px 6px 0px 0px;
  pointer-events: none;
}
.large_internal_link img{
  display: block;
  width: 42px;
  height: 42px;
}
.internal_link p{
  margin: -2px 6px 0px 0px;
  font-weight: bold;
  pointer-events: none;
}
.internal_link span{
  width: 0px;
  max-width: 0px;
  height: 0px;
  max-height: 0px;
  margin: -20px 10px 0px 3px;
  background-color: white;
  transition: var(--ls_anim_duration_short) ease all;
  pointer-events: none;
}
.internal_link:hover span{
  background-color: var(--ls_lightblue);
}
.internal_link span::before{
  content: "";
  display: block;
  width: 3px;
  height: 18px;
  background-color: inherit;
  border-radius: 2px;
  transform-origin: 50% 50%;
  transform: translateY(1px);
}



/*==============MEDIA QUERIES=============*/
@media only screen and (max-width: 1500px){
  grid_medium{
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 1200px){
  grid_medium{
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 900px){
  grid_medium{
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 600px){
  grid_medium{
    grid-template-columns: auto;
  }
}



/*================ANIMATIONS==============*/
.a_fade_in{
  opacity: 0;
  animation: var(--anim_duration_medium) ease a_fade_in forwards;
}
@keyframes a_fade_in{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
.a_fade_up{
  opacity: 0;
  transform: translateY(70px);
  animation: var(--anim_duration_medium) ease a_fade_up forwards;
}
@keyframes a_fade_up{
  0%   {opacity: 0;
        transform: translateY(70px);}
  100% {opacity: 1;
        transform: translateY(0px);}
}



/*================IMPORTANT===============*/
.round{
  border-radius: 50% !important;
}
.noborder{
  border: unset !important;
}
.nobefore::before{
  display: none !important;
}
.noafter::after{
  display: none !important;
}
.noclick{
  user-select: none !important;
  pointer-events: none !important;
}
.invisible{
  opacity: 0 !important;
  visibility: hidden !important;
}
.hidden{
  display: none !important;
}
